:root {
  --infos: #16394c;
}

body {
  height: 100vh;
  width: 100vw;
}

.carte {
  background-image: url("../img/carte-france.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 600px;
}

.div-city{
    position: absolute;
}

.button-city {
  background-color: red;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
}

.paris {
    top: 100px;
    left: 300px;
}

.toulouse {
    top: 400px;
    left: 300px;
}

.div-global {
    position: relative;
  background-color: var(--infos);
  border: 5px solid #608194;
  border-radius: 5px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  z-index: 2;
}

.div-infos {
  background-color: var(--infos);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
}

h2,
p {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.conditions-meteo {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 1.5rem;
}

.div-other-infos {
  width: 100%;
  font-size: 1rem;
  background-color: var(--infos);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
